.details h1 {
  color: var(--B2);
  font-size: 8rem;
  font-weight: 900;
  opacity: 0.2;
  position: absolute;
  top: 120px;
  left: 80px;
}

.details img {
  max-width: 600px;
}

.details {
  display: grid;
  grid-template-columns: 5fr 7fr;
  margin: 200px 230px 60px 230px;
}

.details p {
  grid-column: 2;
  font-size: 1rem;
  line-height: 150%;
  margin-bottom: 1rem;
}

.details p:first-of-type {
  margin-top: 60px;
}

.details p b {
  font-weight: 700;
  color: var(--B3);
}

.details img {
  grid-row: 1/9;
}

.gallery {
  margin-left: 120px;
}

.gallery h2 {
  font-size: 2rem;
  margin-bottom: 32px;
}

.gallery-images {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 60px;
  margin-bottom: 120px;
}

.gallery-images img {
  max-width: 320px;
  transition: transform 0.3s;
}

.gallery-images img:hover {
  transform: scale(1.5);
  transition: transform 0.3s;
}

.footer-gallery {
  display: flex;
  gap: 32px;
  margin-left: 120px;
  padding: 16px;
}

.footer-gallery a {
  display: block;
  margin: 0px;
  padding: 0px !important;
}

.footer-gallery a img {
  min-width: 36px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1180px;
  justify-content: space-around;
  margin: 0 auto 60px auto;
}

.project-list img {
  max-width: 140px;
}

.project-links h2 {
  margin-left: 130px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 40px;
}
