.case-studies h1 {
  text-align: center;
  margin-bottom: 80px;
}

.images li {
  list-style: none;
}

.images img {
  max-width: 380px;
  border-radius: 30px;
  border: 2px solid;
  border-color: linear-gradient(180deg, #003366 0%, #030423 100%);
}

.images {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.contact {
  display: block;
  margin: 64px auto 240px auto;
  border-radius: 100px;
  padding: 10px 20px;
  background: var(--DG1);
  color: var(--C1);
  max-width: fit-content;
  text-align: center;
}
